{{define "title"}}MainApp{{end}}

{{define "body"}}

{{ if .TxResponse }}
{{ if .TxSuccess }}
<div class="alert alert-success" role="alert">
    successful request; transaction ID: {{ .TransactionID }}
</div>
{{ else }}
<div class="alert alert-danger" role="alert">
    Error while submitting transaction: {{ .TransactionID }}
</div>
{{ end }}
{{ end }}

<form class="form-inline" action="mainApp.html" method="post">
    <div class="form-group">
        <select id="form-dropdown" name="func">
            <option value="joinPlatoon">Join a Platoon</option>
            <option value="leavePlatoon">Leave Platoon</option>
            <option value="mergePlatoon">Merge Platoons</option>
            <option value="splitPlatoon">Split Platoon</option>
            <option value="changeSpeed">Change Speed</option>
        </select>
        <label id="form-label" for="platID">Platoon ID</label>
        <input type="text" class="form-control" name="platID" id="platID">
    </div>
    <input type="hidden" name="submitted" value="true">
    <button type="submit" class="btn btn-default">Send it</button>
    <br>
    <p id="form-help" style="background-color: white;color: black;border-radius:4px;display:inline-block">
        Join an existing platoon at the rear, or create a new platoon
    <p>
</form>
<script>
    document.getElementById("form-dropdown").addEventListener('change', function() {
        var value = this.value;
        if (value == "joinPlatoon") {
            document.getElementById("form-label").innerHTML = "Platoon ID";
            document.getElementById("form-help").innerHTML = "Join an existing platoon at the rear, or create a new platoon";
            document.getElementById("form-label").style.display = "inline-block";
            document.getElementById("platID").style.display = "inline-block";
        }else if (value == "leavePlatoon") {
            document.getElementById("form-help").innerHTML = "Leave whatever platoon you are currently in";
            document.getElementById("form-label").style.display = "none";
            document.getElementById("platID").style.display = "none";
        }else if (value == "mergePlatoon") { 
            document.getElementById("form-label").innerHTML = "Platoon ID to merge with";
            document.getElementById("form-help").innerHTML = "Cause your current platoon to join another platoon (Only leaders may use this function)";
            document.getElementById("form-label").style.display = "inline-block";
            document.getElementById("platID").style.display = "inline-block";
        }else if (value == "splitPlatoon") { 
            document.getElementById("form-label").innerHTML = "New Platoon ID";
            document.getElementById("form-help").innerHTML = "Split the current platoon, taking every one that is currently behind you with you to the new platoon";
            document.getElementById("form-label").style.display = "inline-block";
            document.getElementById("platID").style.display = "inline-block";
        }else if (value == "changeSpeed") { 
            document.getElementById("form-label").innerHTML = "New Speed";
            document.getElementById("form-help").innerHTML = "change the speed of your current platoon (only leaders may use this function)";
            document.getElementById("form-label").style.display = "inline-block";
            document.getElementById("platID").style.display = "inline-block";
        }
    });
</script>

{{ if .Response }}
{{ if .Success }}


{{ if .CurrUser.CurrPlat }}
<li class="list-group-item">
    <div>
        <h3>
            Your Platoon: {{ .CurrPlat.ID }}
        </h3>
    </div>
        <ul class="list-group">
            <li class="list-group-item">
                Current Speed: {{ .CurrPlat.CurrSpeed }}MPH
            </li>

            <li class="list-group-item"> 
                {{ range .CurrPlat.Members }}
                    <figure style='display:inline-block; text-align:center'>
                        <img style='text-align:center; transform:rotate(270deg)' class='figure-img img-fluid' src='/assets/images/{{ .EfficiencyClass }}.png'></img>
                         <figcaption style="border: 1px solid black;border-radius:3px" class='figure-caption'>
                            {{ .ID }} <br>
                            Current Platoon: {{ .CurrPlat }} <br>
                            Reputation: {{ .Reputation }} <br>
                            efficiencyClass: {{ .EfficiencyClass }} <br>
                        </figcaption>
                    </figure>
                {{end}}
            </li>
        </ul>
    </div>
</li>
{{ end }}


<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>
                <a data-toggle="collapse" href="#collapsePlatoons"><h5><span class="caret"></span>Other Platoons:<h5></a>
            </h5>
        </div>
        <div id="collapsePlatoons" class="panel-collapse collapse">
            <ul class="list-group">
                {{ range $i, $platoon := .Platoons }}
                    <li class="list-group-item">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" href="#collapse{{ $i }}"><h5><span class="caret"></span>ID: {{ $platoon.ID }}</h4></a>
                                </div>
                                <div id="collapse{{ $i }}" class="panel-collapse collapse">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            Current Speed: {{ $platoon.CurrSpeed }}MPH
                                        </li>

                                        <li class="list-group-item"> 
                                            {{ range $platoon.Members }}
                                                <figure style='display:inline-block; text-align:center'>
                                                    <img style='text-align:center; transform:rotate(270deg)' class='figure-img img-fluid' src='/assets/images/{{ .EfficiencyClass }}.png'></img>
                                                     <figcaption style="border: 1px solid black;border-radius:3px" class='figure-caption'>
                                                        {{ .ID }} <br>
                                                        Current Platoon: {{ .CurrPlat }} <br>
                                                        Reputation: {{ .Reputation }} <br>
                                                        efficiencyClass: {{ .EfficiencyClass }} <br>
                                                    </figcaption>
                                                </figure>
                                            {{end}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>
                <a data-toggle="collapse" href="#collapseUsers"><h5><span class="caret"></span>Other Users:<h5></a>
            </h5>
        </div>
        <div id="collapseUsers" class="panel-collapse collapse">
            <ul class="list-group">
                {{ range $i, $user := .Users }}
                    <li style='display:inline-block' class="list-group-item">
                        <figure style='display:inline-block; margin:20px; text-align:center; border:1px solid black'>
                            <img style='text-align:center; transform:rotate(270deg)' class='figure-img img-fluid' src='/assets/images/{{ $user.EfficiencyClass }}.png'></img>
                            <figcaption class='figure-caption'>
                                {{ $user.ID }} <br>
                                Current Platoon: {{ $user.CurrPlat }} <br>
                                Reputation: {{ $user.Reputation }} <br>
                                efficiencyClass: {{ $user.EfficiencyClass }} <br>
                            </figcaption>
                        </figure>
                    </li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>

{{ else }}
<div class="alert alert-danger" role="alert">
    Unable to submit request, sry bud
</div>
{{ end }}
{{ end }}

{{end}}
